Praia da Falésia is known for its dramatic cliffs, golden sands, and sparkling blue waters. Sunbathe on the huge shore, go swimming or body surfing in the waves, or stroll along the scenic footpath on top of the cliffs and check out the incredible views. The beach has been awarded Blue Flag recognition for its cleanliness, plus there are restrooms, a snack bar, and it's easy to get to via public transportation.
2 Unbelievably blue waters and white sand set the scene
